* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #edf1f4;
    font-family: sans-serif, Arial, Helvetica;
    color: #222;
    text-transform: capitalize;
}

.login {
    position: relative;
    width: 380px;
    padding: 80px 50px 50px;
    box-shadow: 15px 15px 20px rgba(0,0,0,0.1), -15px -15px 20px #fffb;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}

.login form {
    position: relative;
    width: 100%;
}

.login h2 {
    font-size: 2em;
    margin-bottom: 30px;
    line-height: 0.9em;
}

.login h2 span {
    font-size: .7em;
    font-weight: 300;
}

.login form .inputBox {
    position: relative;
    display: flex;
}

.login form .inputBox input {
    border: none;
    outline: none;
    font-size: 1em;
    background-color: transparent;
    border-radius: 10px;
}

.login form .inputBox input[type="text"],
.login form .inputBox input[type="password"]{
    width: 100%;
    padding: 15px 20px;
    padding-left: 40px;
    margin-bottom: 20px;
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.1), inset -5px -5px 10px #fff;
}

.login form .inputBox i {
    position: absolute;
    top: 25%;
    left: 20px;
}

.login form label {
    display: flex;
    justify-items: center;
}

.login form input[type="checkbox"]{
    margin-right: 5px;
}

.login form input[type="submit"]{
    width: 100%;
    padding: 15px 20px;
    font-weight: 600;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1), -5px -5px 10px #fff;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.login form input[type="submit"]:focus {
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.1), inset -5px -5px 10px #fff;
}