* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    position: relative;
    display: 80px 40px;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.card{
    position: relative;
    width: 350px;
    height: 180px;
    background-color: #fff;
    transition: height .5s;
}
.card:hover {
    height: 450px;
}
.card__lines {
    position: absolute;
    inset: 0; /*top, right, bottom y left*/
    background-color: #000;
    overflow: hidden;
}
.card__lines::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 180px;
    background-image: linear-gradient(transparent,
    #45f3ff,
    #45f3ff,
    transparent);
    animation: animate 4s linear infinite;
    animation-play-state: paused;
}
.card:hover .card__lines::before{
    animation-play-state: running;
}
.card__lines::after {
    content: '';
    position: absolute;
    inset: 3px;
    background-color: #292929;
}
@keyframes animate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.img__bx {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translate(-50%);
    width: 130px;
    height: 130px;
    background-color: #000;
    transition: .5s;
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card:hover .img__bx {
    width: 250px;
    height: 250px;
    top: 20px;
}
.img__bx::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 130px;
    background-image: linear-gradient(transparent, #ff3c7b, #ff3c7b, transparent);
    animation: animate2 6s linear infinite;
    animation-play-state: paused;
}
.card:hover .img__bx::before {
    animation-play-state: running;
}
@keyframes animate2 {
    0% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}
.img__bx::after {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: #292929;
}
.img__bx img {
    position: absolute;
    width: 50px;
    opacity: .5;
    z-index: 1;
    transition: .5s;
}
.card:hover .img__bx img {
    opacity: .9;
}
.card__content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.card__detail {
    padding: 30px 20px;
    text-align: center;
    width: 100%;
    transform: translateY(84px);
    transition: transform .5s;
}
.card:hover .card__detail {
    transform: translateY(0px);
}
.card__detail h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #f2f2f2;
    margin-bottom: 1em;
    opacity: .8;
}
.card__detail p {
    font-size: 1rem;
    color: rgba(255,255,255,.6);
}
.card:hover .card__detail h2{
    opacity: 9.5;
}
