* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --blue: hsla(200, 100%, 40%, 1);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}
/*boton basico*/
.botones__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1em;
    padding: 1em;
}

.btn__basico {
    padding: .5em 2em;
    background-color: var(--blue);
    border: none;
    color: #fff;
    border-radius: .5rem;
    box-shadow: 5px 10px 20px hsla(0,100%,0%,.1);
    transition: background-color .3s;
}
.btn__basico:hover {
    background-color: hsla(200, 100%, 50%, .9);
}

/*boton1*/
.btn__moderno {
    background-color: #f2f2f2;
    border: none;
    color: hsla(0,100%,0%,.7);
    font-size: 12px;
    font-weight: 600;
    padding: .8em 2.5em;
    box-shadow: 5px 8px 15px hsla(0,100%,0%,0.1), -5px -8px 10px hsla(0,100%,100%,.8);
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color .3s;
}
.btn__moderno:hover {
    background-color: hsla(0,100%,0%,.1);
}

/*Boton de tipo checkbox*/
.checkbox {
    position: relative;
    width: 70px;
    height: 40px;
    background: #fff;
    border: 2px solid hsla(0,100%,0%,.3);
    border-radius: 35px;
}

.checkbox input {
    position: relative;
    appearance: none;
    z-index: 1;
}
.checkbox span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 50px;
}

.checkbox span i {
    position: absolute;
    top: 3px;
    left: 2px;
    width: 30px;
    height: 30px;
    background-color: hsla(200, 100%, 40%, 1);
    border-radius: 50%;
    transition: transform .5s;
}

.checkbox input:checked ~ span i {
    transform: translateX(33px);
}


/*botono moderno 2*/
.button__moderno2 {
    position: relative;
    color: hsla(0,100%,100%,.9);
    font-size: 14px;
    font-weight: 600;
    padding: .8em 2.5em;
    background-image: linear-gradient(90deg, #0162c8, #55e7fc);
    border-radius: 20px;
    border: none;
    overflow: hidden;
}
.button__moderno2 span {
    position: absolute;
    background-color: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation:  animate 1s linear infinite;
}
@keyframes animate {
    0%{
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100%{
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}
