* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', Arial;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0,0,0, .2);
}

.container {
    width: 330px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 50px 35px 20px 35px;
}

.container header {
    font-size: 35px;
    font-weight: 600;
    padding: 0 0 30px 0;
}

.container .form-outer {
    width: 100%;
    overflow: hidden;
}

.form-outer form {
    display: flex;
    width: 400%;
}

.form-outer form .page {
    width: 25%;
}

.form-outer form .page .title {
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}

.form-outer form .page .field {
    position: relative;
    display: flex;
    height: 45px;
    width: 330px;
    margin: 45px 0;
}

.form-outer form .page .field .label {
    position: absolute;
    top: -30px;
}

.form-outer form .page .field input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid lightgray;
    font-size: 18px;
    padding-left: 15px;
}

.form-outer form .page .field select {
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
    border: none;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.form-outer form .page button {
    width: 100%;
    height: calc(100% + 5px);
    margin-top: -20px;
    border: none;
    background-color: #d43f8d;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    transition: .2s ease-in-out;
    cursor: pointer;

}

.form-outer form .page button:hover {
    transform: scale(.95);
    transition: .2s ease-in-out;
}

.form-outer form .page .btns button {
    margin-top: -20px !important;
}

form .page .btns button .prev {
    margin-right: 3px;
    font-size: 17px;
}

form .page .btns button .next {
    margin-left: 3px;
}

.container .progress-bar {
    display: flex;
    margin: 40px 0;
}

.container .progress-bar .step {
    text-align: center;
    width: 100%;
}

